
  <div class="col">
    <h3>Hello {{data.user.name}} {{data.user.lastname}}!</h3>
    <p>YOUR REGISTERED PROFILE:</p>
    <p>Age {{data.user.age}}</p>
    <p>Phone {{data.user.number}}</p>
    <p>Address {{data.user.address}}</p>
    <p>Email {{data.user.email}}</p>

  </div>

  <div id="foto">

    <img
      class="img-fluid"
      src="{{data.user.avatar}}"
      alt=""
      srcset="{{data.user.avatar}}"
    />

  </div>

</div>
</div>